.OrderControls {
  width: 100%;
  height: 240px;
  margin: auto;
  padding: 10px 0;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 3px 2px #ccc;
}

.OrderButton {
  background-color: #0088ff;
  outline: none;
  cursor: pointer;
  border: 1px solid #005aa8;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #888;
  width: 280px;
}

.OrderButton:hover, .OrderButton:active {
  background-color: #005aa8;
  border: 1px solid #005aa8;
  color: #fff;
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}